.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 100;
    color: #777;
    margin: .5rem;
}

.level {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 1rem;
}

.level p {
    width: 100%;
}

.level button {
    width: 5rem;
    cursor: pointer;
    border-radius: 5px;
    height: 1.9rem;
}

.level button:first-of-type {
    background-color: #abffab;
    border: outset #d4ffd4;
}
.level button:nth-child(3) {
    background-color: #abedff;
    border: outset #d4f9ff;
}
.level button:last-of-type {
    background-color: #ffabb8;
    border: outset #ffd4dd;
}

.level button:hover {
    border: inset;
}


.grid {
    margin-top: 1rem;
}

.grid td {  
    width: 24px;
    height: 17px;
    border: 1px solid #d1cfcf;
    padding: 7px 4px 4px 4px;
    background-color: #f5f5f5;
    font-size: 16px;
    text-align: center;
    box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
.grid td:hover {
    background-color:  #d1cfcf;
}

@media screen and (max-width:900px) {
  .grid td {  
    width: 15px;
    height: 14px;
    padding: 1px;
    font-size: 12px;
  }
}