.grid {
    margin-top: 1rem;

    td {
        width: 24px;
        height: 17px;
        border: 1px solid $lightGrey;
        padding: 7px 4px 4px 4px;
        background-color: $lightGrey;
        font-size: 16px;
        text-align: center;
        box-shadow: inset 5px 5px 10px $white, inset -3px -3px 5px $grey;
        cursor: pointer;
        transition-property: background-color, box-shadow;
        transition-duration: .5s;
        transition-timing-function: ease-out;

        &hover {
            background-color: $lightGrey;
        }
    }
}

@media (max-width:900px) {
    .grid td {
        width: 15px;
        height: 14px;
        padding: 1px;
        font-size: 12px;
    }
}
