.grid {
    margin-top: 1rem;

    td {
        width: 24px;
        height: 24px;
        border: 1px solid $lightGrey;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        background-color: $lightGrey;
        // box-shadow: inset 5px 5px 10px $white, inset -3px -3px 5px $grey;
        transition-property: background-color, box-shadow;
        transition-duration: .5s;
        transition-timing-function: ease-out;

        &:hover {
            background-color: $grey;
        }

        &.revealed {
            background-color: $white;
        }

        &.bomb {
            background-color: $red;
        }
    }

    &.flag__mode, &.flag__mode td {
        cursor: url('/images/flag.png'), auto;
    }
}

@media (max-width:900px) {
    .grid td {
        width: 15px;
        height: 15px;
        padding: 2px;
        font-size: 12px;
    }
}
