.grid {
    margin-top: 1rem;

    td {
        width: 24px;
        height: 24px;
        border: 1px solid $lightGrey;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        background-color: $lightGrey;
        transition-property: background-color, box-shadow;
        transition-duration: .5s;
        transition-timing-function: ease-out;

        &:hover {
            background-color: $grey;
        }

        &.revealed {
            background-color: $white;
        }

        // use of important because this classes are not permanent
        &.bomb {
            background-color: $red !important;
        }

        &.near {
            background-color: $orange !important;
        }

        &.away {
            background-color: $darkYellow !important;
        }

        &.annihilate, &.exploded {
            background-color: $darkGrey;
        }
    }

    &.flag__mode, &.flag__mode td {
        cursor: url('/images/flag.png'), auto;
    }
}

@media (max-width:900px) {
    .grid td {
        width: 15px;
        height: 15px;
        padding: 2px;
        font-size: 12px;
    }
}
