.level {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 1rem;

    p {
        width: 100%;
    }

    &__btn-container {
        display: flex;
        gap: 1rem;

        button {
            width: 5rem;
            cursor: pointer;
            border-radius: 5px;
            height: 2rem;
            transition-duration: .2s;

            &:first-child {
                background-color: $yellow;
                border: outset $yellowOutset;

                &:hover {
                    background-color: $darkYellow;
                }
            }

            &:nth-child(2) {
                background-color: $blue;
                border: outset $blueOutset;

                &:hover {
                    background-color: $darkBlue;
                }
            }

            &:last-child {
                background-color: $red;
                border: outset $redOutset;

                &:hover {
                    background-color: $darkRed;
                }
            }
        }
    }
}