.level {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 1rem;

    p {
        width: 100%;
    }

    &__btn-container {
        display: flex;
        flex-flow: row;
        gap: 1rem;

        button {
            width: 5rem;
            cursor: pointer;
            border-radius: 5px;
            height: 1.9rem;
            transition-duration: .2s;

            &:first-child {
                background-color: #abffab;
                border: outset #d4ffd4;

                &:hover {
                    background-color: darken($color: #abffab, $amount: 6);
                }
            }

            &:nth-child(2) {
                background-color: #abedff;
                border: outset #d4f9ff;

                &:hover {
                    background-color: darken($color: #abedff, $amount: 6);
                }
            }

            &:last-child {
                background-color: #ffabb8;
                border: outset #ffd4dd;

                &:hover {
                    background-color: darken($color: #ffabb8, $amount: 6);
                }
            }


        }


    }
}